# source
src/

# build
.temp/
lib/umd/index.d.ts

#configs
tsconfig.json
rollup.config.js
.eslintrc
.eslintignore
.prettierrc
.prettierignore
.gitattributes
.editorconfig

# misc
.vscode
.cache
.DS_Store

# logs
npm-debug.log*
