# source
src/
__tests__/

# build
lib/data/getNameData.*

#configs
tsconfig.json
.eslintrc
.eslintignore
.prettierrc
.prettierignore
.gitattributes
.editorconfig

# misc
.vscode
.cache
.DS_Store

# logs
npm-debug.log*
